@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

:root {
  --logoFont: 'Cookie', cursive;
  --uiGray: #94a3b8;
  --bgColor: #f8fafc;
  --signBlue: #0ea5e9;
  --borderColor: #cbd5e1;
  --placeHolderTxt: #9ca3af;
  --focusGray: #64748b;
  --textFont: 'Open Sans', sans-serif;
  --btnBlue: #60a5fa;
  --googleGreen: #34d399;
  --overlay: rgba(0,0,0,0.5);
  --postNameColor: #111827;
  --cmtFont: 'Noto Sans', sans-serif;
  --cmtColor: #334155;
  --listHoverColor: #f1f5f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
}

body {
  display:flex;
  height: 100%;
  width: 100%;
}


.App, #root {
 
  display: flex;
  flex: 1;
}


.overlay {
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  z-index: 9996;
  background-color: var(--overlay);
}

.overlay-cancel {
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  z-index: 9998;
  background-color: var(--overlay);
}

.overlay-top {
  background-position: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  z-index: 9999;
  background-color: var(--overlay);
}

.commentOverlay {
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
  z-index: 9998;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

.dpost-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  
}

.phoneScreenImg {
  visibility: hidden;
}

.homePage {
  
  display: flex;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.createFormDiv {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  z-index: 9997;
  background-color: white;
  
  border-radius: 8px;
}

.createHeader {
  justify-content: center;
  display: flex;
  padding-top: 10px;
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 10px;
  
  
}

.createBox {
  
  display: flex;
}

.shareBtn {
  position: absolute;
  top:10px;
  right:10px;
  font-size: 14px;
  border: 0;
  background-color: inherit;
  font-weight: bold;
  color: var(--btnBlue);
}

.shareBtn:hover {
  cursor: pointer;
}


.createBoxLeft {
  width: 60vh;
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
}

.createBoxRight {
  
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--borderColor);
  gap:10px;
  width: 35vh;
}

.boxRightProfileDiv {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  width: 200px;
  margin:10px;
}

.txtAreaDiv {
  display:flex;
  
}

.captionTxtArea {
  padding: 10px;
  border: 0;
  display: flex;
  flex: 1;
  resize: none;
  font-family: var(--textFont);
  font-size: 16px;
  
}

.captionTxtArea:focus {
  cursor: text;
  outline: none;
}


.WcDiv {
  display: flex;
  justify-content: flex-end;
  padding:10px;
  border-bottom: 1px solid var(--borderColor);
}

.wordCounter {
  color:var(--borderColor)
}

.boxProfIcon {
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}


input[type=file] {
  display:none;
}

.file-upload {
  width: 176px;
  padding: 10px 15px 10px 15px;
  border: 0;
  border-radius: 6px;
  background-color: var(--signBlue);
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.file-upload:hover {
  cursor: pointer;
}

.hRight, .hRightDiv {
  display:flex;
  flex-direction: column;
}

.hRight {
  gap: 10px;
  
}

.centerT {
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.googleBtn {
  border: none;
  display:flex;
  align-items: center;
  background-color: inherit;
  gap:5px;
  font-size: 18px;
  color:var(--googleGreen);
  font-weight: bold;
}

.fPwDiv{
  font-size: 12px;
  padding-top: 10px;
}

.getAppTxt{
  padding-top: 10px;
  padding-bottom: 10px;
}

.googleBtn:hover, .logInBtn:hover{
  cursor: pointer;
}

.googleLogo {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}

.boldT {
  color: var(--signBlue);
  font-weight: bold;
}

.signUpDiv {
  gap:5px;
}

.hLeft {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hRightDiv {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 50px;
  gap: 10px;
  background-color: white;
}

.hRightDiv, .formInput {
  border: 2px solid var(--borderColor);
}

.ai-imgs {
  max-width: 160px;
  max-height: 160px;
  object-fit: contain;
}

.ai-upload-header {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ai-upload-header > p {
  display: flex;
  justify-content: center;
  
}

.ai-upload-header > p:nth-child(2) {
  color: var(--placeHolderTxt);
  font-size: 14px;
}

.ai-prompt-div {
  justify-content: center;
  display: flex;
  margin: 30px 30px 10px 30px;
  gap: 5px;
}

.ai-Results-msg {
  justify-content: center;
  display: flex;
  font-size: 14px;
  color: var(--placeHolderTxt);
  padding: 10px;
}

.ai-prompt-div > textarea {
  border: 2px solid var(--placeHolderTxt);
  border-radius: 8px;
  font-size: 14px;
  padding: 5px;
  resize: none;
  overflow: hidden;
  
}

.ai-prompt-div > textarea:focus {
  outline: none;
}

.ai-prompt-div > button {
  color: white;
  background-color: var(--btnBlue);
  padding: 10px;
  border-radius: 8px;
  border: 0;
}

.ai-prompt-div > button:hover {
  cursor: pointer;
}

.aiResults-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 10px;
}

#img-form {
  padding: 20px 200px 20px 200px;
}

#loading-div {
  padding: 200px;
}

.post-img {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 300px;
  object-fit: contain;
  border-radius: 2px;
  border: 1px solid var(--borderColor);
  mix-blend-mode: multiply;
}

.postHeaderDiv {
  display:flex;
  align-items: center;
  gap: 5px;
}

.postHeaderProf {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.uploadImg {

  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 50px;
  background-size: contain;
  

}

.commentInp {
  flex: 1;
  border: 0;
  background-color: inherit;
  font-family: var(--textFont);
  resize: none;
  overflow: hidden;
}

.commentInp:focus {
  outline: none;
}

input:focus {
  outline: none;
  border-color: var(--focusGray);
}

.formCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.instaTitle {
  justify-content: center;
  display: flex;
  font-family: var(--logoFont);
  font-size: 60px;
  margin: 30px 0px 30px 0px;
}

.highlighted > .dashBtnImg {
  filter: invert(0%) sepia(90%) saturate(7500%) hue-rotate(346deg) brightness(89%) contrast(111%);


}

.highlighted > .dashBtnTxt {
  font-weight: bold;
}

.viewMoreBtn {
  background-color: inherit;
  border: 0;
  color: var(--overlay);
  margin-bottom: 5px;
}

.viewMoreBtn:hover {
  cursor: pointer;
}



.homeLoginForm {
  display:flex;
  flex-direction: column;
  gap:10px;
}

.formInput {
  width: 260px;
  height: 30px;
  background-color: #f8fafc;
  border-radius: 5px;
  padding: 6px;
  font-family: var(--textFont);
    
}

.addCommentOuterDiv {
  position: relative;
}

.addCommentDiv {
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 10px;
  max-width: 400px;
}

label {
  position: relative;
}

.placeHolderTxt {
  position: absolute;
  color: var(--placeHolderTxt);
  left:0;
  top:0;
  font-size: 12px;
  padding: 10px;
}

.logInBtn {
  background-color: var(--btnBlue);
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  font-family: var(--placeHolderTxt);
  color: white;
}

.pwToggleBtn {
  font-size: 12px;
  font-family: var(--textFont);
  font-weight: bold;
  position: absolute;
  top:0;
  right:0;
  margin: 8px 10px 5px 10px;
  visibility: hidden;
  border: none;
  background-color: inherit;
  padding: 0;
}

.postBtn {
  font-size: 12px;
  font-family: var(--textFont);
  font-weight: bold;
  
  
  visibility: hidden;
  border: none;
  background-color: inherit;
  padding: 0;
}

.cmtLabel {
  display:flex;
  gap:5px;
}

.formInput:focus + .placeHolderTxt, .formInput:not(:placeholder-shown) + .placeHolderTxt  {

  font-size: 8px;
  padding-top: 5px;
}

.formInput:focus, .formInput:not(:placeholder-shown){
  padding-top: 15px;
}

.formInput:focus, .formInput:not(:placeholder-shown) ~ .pwToggleBtn {
  visibility: visible;
}

.commentInp:focus, .commentInp:not(:placeholder-shown) ~ .postBtn {
  visibility: visible;
}

label:hover {
  cursor: text;
}


.orDiv, .orDiv > div {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 10px;
  
}

.orDiv > :nth-child(2) {
  color: var(--uiGray);
}

.orLeft, .orRight {
  border-top: 2px solid gray;
  margin-top: 7px;
}

.dlLogo {
  width: 136px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.downloadLogo {
  display: flex;
  justify-content: space-evenly;
}

.dashContentLeft {
  padding: 5% 10px 10px 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.dashContentRight {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5%;
}

.postCmtsDiv {

  display: flex;
  gap: 5px;
}

.opName {
  font-size: 12px;
  color: var(--postNameColor);
  font-weight: bold;
  font-family: var(--textFont);
  white-space: nowrap;

  
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100px;
}

.postComments {
  font-size: 14px;
  font-family: var(--cmtFont);
  color: var(--cmtColor);
  
  display: flex;
  
  
}

.postComments-txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}

.contentDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;

  max-width: 400px;
}

.dashRightTop {
  margin: 10%;
}

.switchAccBtn, .postBtn {
  background-color: inherit;
  font-weight: bold;
  border: 0;
  color: var(--signBlue);
}

.switchAccBtn:hover, .postBtn:hover {
  filter: brightness(50%);
  cursor: pointer;

}


.dashRightProf {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashRightProfName {
  white-space: nowrap;
}

.dashRightProfPic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.dashboardDiv{
  display:flex;
  flex: 1;
  overflow: auto;
}

.dashboardLeft {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  flex:1;
  justify-content: space-between;
  padding: 20px 40px 20px 20px;
  border-right: 1px solid var(--borderColor);
}

.dashboardRight {
  flex: 6;
  display: flex;
}

.dashLogo {
  font-size: 34px;
  font-family: var(--logoFont);
  padding-bottom: 10px;
}

.dashList {
  display: flex;
  flex-direction: column;
  
  list-style-type: none;
  gap: 10px;
}

.cancelC-div {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 9999;
  background-color: white;
  border-radius: 8px;

  display:flex;
  flex-direction: column;
  
  
}

.pd-img {
  object-fit: contain;
  align-items: center;
  justify-content: center;
  flex: 1;
  display:flex;
  max-height: 920px;
  max-width: 450px;
}

.postDetailDiv {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 9999;
  background-color: white;
  

  display:flex;
  flex-direction: column;

  min-height: 80%;
  min-width: 50%;
  border-radius: 5px;
}

.postDetailInner {
 
}

.postDRight, .postDLeft, .postDetailInner {
  display: flex;
  flex: 1;
  
}

.postDLeft {
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.postDRight {
  flex-direction: column;
  border-left: 1px solid var(--borderColor);
}

.postDetails-header {
  display:flex;

  align-items: center;
  padding: 20px;
  gap: 5px;
  border-bottom: 1px solid var(--borderColor);
}

.op-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.dpost-header {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
  gap: 5px;
}

.dpost-header > :nth-child(1) {
  text-align: center;

  
}

.post-more-btn {
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  background-color: inherit;
  margin-left: auto;

  transition: all .5s;
}

.post-more-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.post-d-opName {
  font-weight: bold;
  font-family: var(--cmtFont);
  font-size: 14px;
  white-space: nowrap;
  padding-right: 5px;
}

.post-cmts-cont {
  display: block;
  max-width: 35ch;
  word-break: break-all;
  overflow: overlay;
  min-width: 30ch;
}

.post-cmts-cont::-webkit-scrollbar {
  display:none;
}

.post-d-Comments {
  font-size: 12px;
  font-family: var(--cmtFont);
  flex: 1 1;
  padding-right: 10px;
  max-width: 70ch;
  font-weight: 300;
  word-break: break-word;
}

.post-d-img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  border-radius: 50%;
}

.post-d-div {
  margin-top: auto;
  padding: 20px 10px 20px 10px;
  position: relative;
}

.post-d-CmtsDiv {
  display: flex;
  gap:5px;
  
  margin: 5px 5px 5px 10px;
}

.dpost-header > :nth-child(2) {
  text-align: center;
  font-size: 12px;
  color: var(--focusGray);
}

.roundTopBorders {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.dpost-discard, .dpost-cancel {
  border: 0;
  background-color: inherit;
  padding: 10px;
  border-top: 1px solid var(--borderColor);
  padding: 20px 40px 20px 40px;
  
}

.dpost-discard:hover, .dpost-cancel:hover {
  cursor: pointer;
}

.dpost-discard {
  color: red;
  font-weight: bold;
}

.dpost-cancel {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dashBtns{
  display:flex;
  align-items: center;
  border: 0;
  background: inherit;
  cursor: pointer;
  gap:10px;
  font-size: 16px;
  font-family: var(--textFont);
  font-weight: lighter;
  flex: 1;
  border-radius: 10px;
  padding: 5px;
  
}

.dashBtns:hover {
  background-color: var(--listHoverColor);
}

.dashList > li {
  display:flex;
}

.dashBtnImg {
  
  width: 24px;
  height:24px;
  background-position: center;
  background-size: contain;
  
}

.flexDiv {
  display: flex;
}

@media (max-width:600px) {
  .dashBtnTxt {
    visibility: hidden;
    width: 0;
  }

  .postDetailInner {
    flex-direction: column;
    
  }
  
  #img-form {
    padding: 20px;
  }

  .dashBtns {
    justify-content: center;
  }

  .dashboardLeft {
    padding-right: 0;
    padding-left: 0;
  }

  .dashContentLeft {
    padding-left: 10px;
  }

  .dashContentRight {
    visibility: hidden;
  }

  .dashLogo {
    visibility: hidden;
  }
}