@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400;1,700&display=swap');


:root {
  --logoFont: 'Cookie', cursive;
  --uiGray: #94a3b8;
  --bgColor: #f8fafc;
  --signBlue: #0ea5e9;
  --borderColor: #cbd5e1;
  --placeHolderTxt: #9ca3af;
  --focusGray: #64748b;
  --textFont: 'Open Sans', sans-serif;
  --btnBlue: #60a5fa;
  --googleGreen: #34d399;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  background-color: var(--bgColor);
}


.phoneScreenImg {
  visibility: hidden;
}

.homePage {
  
  display: flex;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.hRight, .hRightDiv {
  display:flex;
  flex-direction: column;
}

.hRight {
  gap: 10px;
  
}

.centerT {
  display: flex;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.googleBtn {
  border: none;
  display:flex;
  align-items: center;
  background-color: inherit;
  gap:5px;
  font-size: 18px;
  color:var(--googleGreen);
  font-weight: bold;
}

.fPwDiv{
  font-size: 12px;
  padding-top: 10px;
}

.getAppTxt{
  padding-top: 10px;
  padding-bottom: 10px;
}

.googleBtn:hover, .logInBtn:hover{
  cursor: pointer;
}

.googleLogo {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: inherit;
}

.boldT {
  color: var(--signBlue);
  font-weight: bold;
}

.signUpDiv {
  gap:5px;
}

.hLeft {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hRightDiv {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 50px;
  gap: 10px;
  background-color: white;
}

.hRightDiv, .formInput {
  border: 2px solid var(--borderColor);
}

input:focus {
  outline: none;
  border-color: var(--focusGray);
}



.instaTitle {
  justify-content: center;
  display: flex;
  font-family: var(--logoFont);
  font-size: 60px;
  margin: 30px 0px 30px 0px;
}

.homeLoginForm {
  display:flex;
  flex-direction: column;
  gap:10px;
}

.formInput {
  width: 260px;
  height: 30px;
  background-color: #f8fafc;
  border-radius: 5px;
  padding: 6px;
  font-family: var(--textFont);
    
}

label {
  position: relative;
}

.placeHolderTxt {
  position: absolute;
  color: var(--placeHolderTxt);
  left:0;
  top:0;
  font-size: 12px;
  padding: 10px;
}

.logInBtn {
  background-color: var(--btnBlue);
  border: 0;
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
  font-family: var(--placeHolderTxt);
  color: white;
}

.pwToggleBtn {
  font-size: 12px;
  font-family: var(--textFont);
  font-weight: bold;
  position: absolute;
  top:0;
  right:0;
  margin: 8px 10px 5px 10px;
  visibility: hidden;
  border: none;
  background-color: inherit;
  padding: 0;
}

input:focus + .placeHolderTxt,input:not(:placeholder-shown) + .placeHolderTxt  {

  font-size: 8px;
  padding-top: 5px;
}

input:focus, input:not(:placeholder-shown){
  padding-top: 15px;
}

input:focus, input:not(:placeholder-shown) ~ .pwToggleBtn {
  visibility: visible;
}

label:hover {
  cursor: text;
}


.orDiv, .orDiv > div {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 10px;
  
}

.orDiv > :nth-child(2) {
  color: var(--uiGray);
}

.orLeft, .orRight {
  border-top: 2px solid gray;
  margin-top: 7px;
}

.dlLogo {
  width: 136px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.downloadLogo {
  display: flex;
  justify-content: space-evenly;
}